
    .arial-example{
        font-family: arial;
        font-size:30px;
        font-weight:bold;
        line-height: 0px;

    }
    .sales-week{
        font-family: arial;
        font-style: italic;
        font-size: 20px;
        color: rgb(221, 44, 44);
        line-height: 0px;
    }

