
        .para-one{
            font-weight: bold;
            font-size: 20px;
            font-family: verdana; 
            margin-bottom: 3px;
            margin-top: 0px;

            
        }
        .para-two{
            font-family: verdana;
            font-size: 16px;
            color: grey;
            margin-top: 0px;

        }
        .para-three{
            font-family: verdana;
            
            width: 300px;
            line-height: 22px;
           margin-bottom: 18px;
            
        
        
        }
        .getstarted-button{
            background-color: rgb(36, 145, 36);
            color:white;
            border: none;
            border-radius: 8px;
            width: 100px;
            height: 30px;

        }

