
.apply-button {
    background-color: rgb(10,102,194);
    color:white;
    height: 40px;
    width: 240px;
    cursor: pointer;
    border: none;
    border-radius:40px;
    margin-right: 8px;
    font-size:15px;
    font-weight: bold;
    


}
.apply-button:hover{
    background-color:navy;

}
.save-button{
    color: rgb(10,102,194);
    cursor: pointer;
    height: 50px;
    width: 110px;
    border-radius: 40px;
    border-color:rgb(10,102,194);
    background-color: white;
    font-weight: bold;
    font-size:20px;
    


}
