.container-box{
    display: flex;
    flex-direction: row;
    height: 50px;

}
.light-pink{
    background-color: lightpink;
    width: 100px;
}
.light-blue{
    background-color: lightblue;
    width: 200px; 
   
    
}

.two{
   
   flex-direction: row;
    display: flex;
    justify-content: space-between;
}
.item1{
    background-color: black;
    color: white;
}
